* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
  }
  
  .container {
    max-width: 1320px;
    margin: 4rem auto;
    padding: 4rem;
    background: #00006c;
    border-radius: 10%;
    box-shadow: 10px 2px 30px 20px #00ffff;
  }
  
  form {
    margin-top: 2.5rem;
  }
  
  .form-heading {
    text-align: center;
    color: white;
  }
  
  label {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Courier New", Courier, monospace;
    color: #ffffff;
  }
  
  input,
  textarea {
    display: block;
    background-color: #5ec4fb;
    font-size: 1.2rem;
    min-width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }
  
  textarea {
      resize: none;
      height: 200px;
  }
  
  .submit-btn {
    display: block;
    padding: 0.8rem 1.8rem;
    margin: 1rem auto;
    background-color: #2f6fbc;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .submit-btn:hover{
    box-shadow: 5px 5px 15px 10px #00ffff;
  }
  
  .img-input {
    background: transparent;
  }
  
  